@font-face {
    font-family: "icon-sync-glyphs";
    src: url("./icon-sync-glyphs.ttf?8534fc4c24f427a6875671ef0e90e29c") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icon-sync-glyphs !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ico-home-thin-lg:before {
    content: "\f101";
}
.icon-ico-home-line-lg:before {
    content: "\f102";
}
.icon-ico-home-fill-lg:before {
    content: "\f103";
}
